cscope*
tags
.*swp
*.pyc
a.out

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

.DS_Store
pytest/allure-reports/
pytest/allure-results/
pytest/result.xml

.vscode
ml/hands-on/datasets/mnist/

# C binary
exam/exam0_basic
exam/exam1_prime
exam/exam2_bits
